
<h1>Booked</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @booking.parking.picture, height: 300, width: 400, crop: :fill %>')">
  <div class="container transparent">
    <h1><%= @booking.parking.name %></h1>
    <h2><%= @booking.parking.address %></h2>
    <p>Status: <% if @booking.parking.confirmation %>
      Approved
      <% else %>
      Pending
      <% end %>
    </p>
    <p>Covered: <% if @booking.parking.covered %>
        <i class="far fa-check-circle checkmark"></i>
      <% else %>
        <i class="far fa-times-circle times"></i>
      <% end %>
    </p>
    <p>Security: <% if @booking.parking.security %>
        <i class="far fa-check-circle checkmark"></i>
      <% else %>
        <i class="far fa-times-circle times"></i>
      <% end %>
    </p>
    <p>Camera: <% if @booking.parking.camera %>
        <i class="far fa-check-circle checkmark"></i>
      <% else %>
        <i class="far fa-times-circle times"></i>
      <% end %>
    </p>
    <p>Size: <%= @booking.parking.size %></p>
    <p>Price/hour: <%= @booking.parking.price %></p>
    <% if @booking.reviews.last.nil? %>
    <%= link_to "Add review", new_booking_review_path(@booking), class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back", root_path, class: "btn btn-danger" %>
  </div>
</div>



