
<h1>Status: <% if @booking.parking.confirmation %>
  Approved
  <% else %>
  Pending
  <% end %>
</h1>

<% if @booking.reviews.first.nil? %>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#newBooking">Add review</button>
<%= render "reviews/new", booking: @booking, review: Review.new %>
<% end %>
<%= link_to "Back", root_path, class: "btn btn-danger" %>

<div id="book-holder">
  <div id="book-options">
    <p><%= @booking.date %></p>

    <div class="container description-show">
      <h1><%= @booking.parking.name.upcase %></h1>
      <div id="show-price">
        <p class="remarcado">Price/hour: <strong><%= @booking.parking.price %></strong></p>
      </div>
      <h3><%= @booking.parking.size %></h3>
      <ul class="list-inline">
        <li>
          <p><% if @booking.parking.confirmation %>
           <i class="fas fa-bolt active"></i>
           <% else %>
           <i class="fas fa-bolt unactive"></i>
           <% end %>
         </p>
       </li>
       <li>
         <p><% if @booking.parking.covered %>
          <i class="fas fa-umbrella active"></i>
          <% else %>
          <i class="fas fa-umbrella unactive"></i>
          <% end %>
        </p>
        <li>
          <p><% if @booking.parking.security %>
            <%= image_tag "policeman-active", width:50 %>
            <% else %>
            <%= image_tag "policeman-unactive"%>
            <% end %>
          </p>
        </li>
        <li>
          <p><% if @booking.parking.camera %>
            <i class="fas fa-video active"></i>
            <% else %>
            <i class="fas fa-video unactive"></i>
            <% end %>
          </p>
        </li>
        <li>
          <p><% if @booking.parking.gated %>
            <%= image_tag "fence-active", width:50 %>
            <% else %>
            <%= image_tag "fence-unactive"%>
            <% end %>
          </p>
        </li>
      </ul>


      <p>Size: <%= @booking.parking.size %></p>
      <p>Price/hour: <%= @booking.parking.price %></p>
    </div>
  </div>
  <div id="book-map">
    <h2><%= @booking.parking.address %></h2>
    <div
    id="map"
    style="width: 50%;height: 300px; margin-top: 8px; margin-bottom: 20px"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
  </div>
</div>

</div>
</div>
</div>


