<div class="card-category">

  <div class="card-price">
    <p class="highlight-price">$<%= parking.price %></p>
    <p>price/hour</p>
  </div>

   <div class="park-image">
    <div style="background-image: url(<%= cl_image_path parking.picture, height: 300, width: 400, crop: :fill %>); height: 11.1em; width: 10em">
    </div>
    <div class="parking-info">
      <h2><%= parking.name.upcase %></h2>
       <p><%= parking.address %></p>
  <div class="rating">
    <% if parking.reviews.last.nil? %>
    <i class="nr"> Not rated</i>
    <% else %>
    <% (parking.reviews.map{|review| review.rating_user}.sum.to_f / parking.reviews.size).round.times do %>
    <i class="fas fa-star rated"></i>
    <% end %>
    <% end %>

 </div>
    </div>
  </div>

  <%= link_to "", parking_path(parking), class:'card-link' %>
</div>
