<h1 style="margin: 0px; padding: 8px">Parking Lots</h1>
<%= render 'shared/searchbar' %>
<div id='parking-holder'>
  <div id='parkings-options'>
    <% @parkings.each do |parking| %>
    <div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%= cl_image_path parking.picture, height: 300, width: 400, crop: :fill %>')">
        <h2><%= parking.name.upcase %></h2>
        <p><%= parking.address %></p>
        <p>Price/hour: <%= parking.price %></p>
        <div class="rating">
          <% if parking.reviews.last.nil? %>
          <i class="nr"> Not rated</i>
          <% else %>
          <% (parking.reviews.map{|review| review.rating_user}.sum.to_f / parking.reviews.size).round.times do %>
          <i class="fas fa-star rated"></i>
          <% end %>
          <% end %>
        </div>
        <%= link_to "", parking_path(parking), class:'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
  <div id='parkings-map'>
  <div
  id="map"
  style="width: 100%;height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
</div>
