<h1>Create your own Parking Lot</h1>

<%= simple_form_for(@parking) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= f.input :confirmation, as: :radio_buttons, collection: [['yes', true], ['no', false]], label_method: :first, value_method: :second  %>
  <%= f.input :covered, as: :radio_buttons, collection: [['yes', true], ['no', false]], label_method: :first, value_method: :second  %>
  <%= f.input :security, as: :radio_buttons, collection: [['yes', true], ['no', false]], label_method: :first, value_method: :second  %>
  <%= f.input :camera, as: :radio_buttons, collection: [['yes', true], ['no', false]], label_method: :first, value_method: :second  %>
  <%= f.input :size, collection: ["Small Car", "Medium Car", "Big Car", "Truck"] %>
  <%= f.input :gated, as: :radio_buttons, collection: [['yes', true], ['no', false]], label_method: :first, value_method: :second  %>
  <%= f.input :price, label: "$/hr"%>
  <%= f.button :submit, "Create parking", class: "btn btn-danger" %>
<% end %>
  <%= link_to "Back", root_path, class: "btn btn-primary" %>
