<h1>Parking Lot</h1>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @parking.picture, height: 300, width: 400, crop: :fill %>')">
  <div class="container transparent">
    <h1><%= @parking.address %></h1>
    <p>Confirmation: <%= @parking.confirmation ? "Ready to park!" : "Needs owner approval" %></p>
    <p>Covered: <% if @parking.covered %>
        <i class="far fa-check-circle checkmark"></i>
      <% else %>
        <i class="far fa-times-circle times"></i>
      <% end %>
    </p>
    <p>Security: <% if @parking.security %>
        <i class="far fa-check-circle checkmark"></i>
      <% else %>
        <i class="far fa-times-circle times"></i>
      <% end %>
    </p>
    <p>Camera: <% if @parking.camera %>
        <i class="far fa-check-circle checkmark"></i>
      <% else %>
        <i class="far fa-times-circle times"></i>
      <% end %>
    </p>
    <p>Size: <%= @parking.size %></p>
    <p>Price/hour: <%= @parking.price %></p>
    <%= link_to "Book it!", new_parking_booking_path(:parking_id), class: "btn btn-primary" %>
    <%= link_to "Back", root_path, class: "btn btn-danger" %>
  </div>
</div>




